#img-bg {
    background-image: url('https://p2.trrsf.com/image/fget/cf/648/0/images.terra.com/2021/09/24/2021-09-24T134647Z_1_LYNXMPEH8N0KO_RTROPTP_3_SOCCER-FRANCE-PSG-LYO-REPORT.JPG');

    min-height: 695px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}