<footer class="page-footer font-small bg-secondary pt-4">
<div class="container">]
    <div class="row">
        <div class="col-md 12 d-flex justify-content-center">
            <h4 class="text-white"> Siga-nos nas redes sociais</h4>

        </div>


        <div class="row">
            <div class= "col-md 12 d-flex justify-content-center">

                <ul class="social-network"></ul>
                <li>
                    <a href="https://github.com/FMTSL" target="_blank" class="icoFacebook"></a>
                </li>
            </div>
        </div>

    </div>
</div>
</footer>
